<%= image_tag @portfolio.main_image if !@portfolio.main_image.nil? %>
<h1><%= @portfolio.title %></h1>
<em><%= @portfolio.subtitle %></em>
<p><%= @portfolio.body %></p>

<% if  @portfolio.technologies.any? %>

<h2>Technologies Used</h2>
  <% @portfolio.technologies.each do |t| %>
    <p><%= t.name %></p>
  <% end %>
  <% else %>
  <p> - </p>
<% end %>
<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>

<hr>
<%# "Referer: #{request.referer}" %>